@use "@/assets/styles/_variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $roboto;
  background-color: $white;
}

a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}